.cards__galery {
    min-width: calc(320px*3 + 28px*2);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: calc((100% - (320px * 3))/2);
}

@media screen and (max-width: 768px) {
    .cards__galery {
        grid-template-columns: repeat(3, 280px);
    }
}