.header {
    max-width: 1120px;
    width: calc(100%* 1120/1440);
    margin: 0 auto;
    padding: 26px 0;
    display: grid;
    grid-template-columns: 38px auto 218px;
    gap: 50px;
    text-align: right;
    justify-items: end;
    align-items: center;
}

@media screen and (max-width:768px) {
    .header {
        width: 88%;
        display: flex;
        justify-content: space-between;
    }
}