.footer__author {
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 15.1px;
    line-height: 20px;
    color: #8E9199;
}

@media screen and (max-width:480px) {
    .footer__author {
        font-size: 12px;
        margin-top: 10px;
    }
}