.intro__round {
    width: 107%;
    height: 640px;
    object-fit: contain;
    position: absolute;
    left: 25%;
    bottom: 0;
    background-image: url(../../../images/intro_round.png);
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .intro__round {
        height: 120px;
        background-size: 60px 120px;
        transform: rotate(-90deg);
        background-image: url(../../../images/intro_round_768.png);
        left: 0;
        width: 80%;
    }
}