.fight__round {
    grid-area: round;
    width: 440px;
    height: 220px;
    background-image: url(../../../images/fight_round.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -8%;
}

@media screen and (max-width: 1080px) {
    .fight__round {
        left: auto;
        right: 8%;
    }
}